/* outline */
.outline {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
}

.outline-none {
  outline: none;
}

.outline-default {
  outline-color: var(--color-tertiary-background);
}

.outline-primary {
  outline-color: var(--color-primary);
}

.outline-positive {
  outline-color: var(--color-positive);
}

.outline-negative {
  outline-color: var(--color-negative);
}

.outline-solid {
  outline-style: solid;
}

.outline-dotted {
  outline-style: dotted;
}

/* for react-complex-tree */
#root #NodeTreeView ul,
#root #FileTreeView ul {
  padding: 0px;
}

#root #NodeTreeView ul>li,
#root #FileTreeView ul>li {
  line-height: 100%;
  padding: 0px;
}

#root #NodeTreeView ul>li::marker,
#root #FileTreeView ul>li::marker {
  display: none;
}

/* other */
.no-frame {
  outline: none;
  margin: 0;
  border: none;
  padding: 0;
  background: transparent;
}

.inline-label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* loading bar */
.loading-bar {
  position: absolute;

  top: 0;
  right: 100%;
  bottom: 0;
  left: 0;

  background: var(--color-tertiary-foreground);
  animation: loading-bar-animation 5s linear infinite;
}

@keyframes loading-bar-animation {
  0% {
    left: 0%;
    right: 100%;
    width: 0%;
  }

  10% {
    left: 0%;
    right: 75%;
    width: 10%;
  }

  90% {
    right: 0%;
    left: 75%;
    width: 10%;
  }

  100% {
    left: 100%;
    right: 0%;
    width: 0%;
  }
}