/* outline */
.outline {
  outline-width: 1px;
  outline-style: solid;
  outline-offset: -1px;
}
body {
  cursor: default !important;
}
body *:hover {
  cursor: default !important;
}
.target {
  cursor: move;
}
.dragging-tree * {
  cursor: default !important;
  cursor: -webkit-default !important;
  cursor: -moz-default !important;
  cursor: default !important;
}
body.inheritCursors * {
  cursor: inherit !important;
}
.outline-none {
  outline: none;
}

.outline-default {
  outline-color: var(--color-tertiary-background);
}

.outline-primary {
  outline-color: var(--color-primary);
}

.outline-positive {
  outline-color: var(--color-positive);
}

.outline-negative {
  outline-color: var(--color-negative);
}

.outline-solid {
  outline-style: solid;
}

.outline-dotted {
  outline-style: dotted;
}

/* react-complex-tree ul-li */
#root #NodeTreeView ul,
#root #FileTreeView ul,
#root #SettingsView ul {
  padding: 0px;
  list-style-type: none;
}

#root #NodeTreeView ul > li,
#root #FileTreeView ul > li {
  line-height: 100%;
  padding: 0px;
}

/* cmdk modal */
[cmdk-overlay] {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
}

[cmdk-dialog] {
  position: fixed;

  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  max-height: 100vh;
}

/* rene.css -> .hidden-on-mobile */
@media (max-width: 768px) {
  [cmdk-dialog] {
    display: none;
  }
}

[cmdk-root] {
  width: 50vw;
}

[cmdk-input] {
  outline: none;
  border: none;
  width: 100%;
  margin-bottom: 0px;
}

[cmdk-list] {
  min-width: 195px;
  width: auto;

  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}

[cmdk-item] {
  cursor: pointer;
}

[cmdk-item][aria-selected="true"] {
  /* rene.css -> .background-secondary */
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-foreground);

  /* rene.css -> .radius-s */
  border-radius: 4px;
}

/* code view highlight */
.focusedNodeCode {
  background: var(--color-tertiary-background);
}

/* navigator panel dropdown */
.navigator-project-item {
  cursor: pointer;
}

.navigator-project-item.selected,
.navigator-project-item:hover {
  /* rene.css -> .background-secondary */
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-foreground);
}

.navigator-project-item-icon {
  /* rene.css -> .background-secondary */
  background-color: var(--color-secondary-background);
  color: var(--color-secondary-foreground);
}

.navigator-project-item-name {
  /* rene.css -> .opacity-m */
  opacity: 0.5;
}

.navigator-project-item.selected .navigator-project-item-icon,
.navigator-project-item:hover .navigator-project-item-icon {
  /* rene.css -> .background-primary */
  background-color: var(--color-primary-background);
  color: var(--color-primary-foreground);
}

.navigator-project-item.selected .navigator-project-item-name,
.navigator-project-item:hover .navigator-project-item-name {
  opacity: 1;
}
.monaco-editor {
  width: 100% !important;
  height: 100% !important;
}
.overflow-guard {
  width: 100% !important;
  height: 100% !important;
}
.monaco-scrollable-element.editor-scrollable {
  height: 100% !important;
  width: calc(100% - 64px) !important;
}
/* panels style */

.panelResize {
  width: 3px;
}
.panelResize:hover,
.panelResize:active {
  background-color: var(--color-secondary-background);
  cursor: col-resize !important;
}

#CodeView {
  transition: 0.3s all;
}

#ActionsPanel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 999;
  transition: 0.3s all;
}

#SettingsPanel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.settings-item {
  display: grid;
  grid-template-columns: 50px 1fr 16px;
  align-items: center;
}

.action-panel-wrapper {
  width: 10px;
  height: 100%;
  position: absolute;
}

.action-panel-wrapper > #ActionsPanel {
  width: 240px;
  transform: translateX(-300px);
}

.action-panel-wrapper:hover > #ActionsPanel {
  transform: translateX(0px);
}

.action-button {
  visibility: visible;
  height: 16px;
  width: 16px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-button:hover {
  background-color: var(--color-secondary-background);
  border-radius: 4px;
}
.action-button-hidden {
  visibility: hidden;
}
.attribute-input {
  word-wrap: break-word;
  min-height: 14px;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  display: inline-block;
  padding: 0;
}
.attribute-input:hover,
.attribute-input:focus {
  outline: 1px solid var(--color-tertiary-background);
}
